In [1]:
import pandas as pd
import sqlite3

In [2]:
data = sqlite3.connect('database.db')
# self.cursor = self.conn.cursor()

In [5]:
nivel_bancarizacao = pd.read_sql('select * from nivel_bancarizacao where bancarizacao', con=data)

In [7]:
nivel_bancarizacao.nlargest(10, 'bancarizacao')

      bancarizacao  fk_municipio
2738         34544          2824
2398          5077          2470
341           1615           354
2255          1035          2321
877            820           912
419            685           440
171            559           177
1860           515          1915
1104           468          1141
867            414           902